.container {
    max-width: 620px;   
    height: 700px; /*TODO: потом удалить */
    padding: 20px 30px;
    margin: 0 auto;
    background: #474343;
    border: 1px solid transparent;
    box-shadow:  0 0 100px rgb(0, 0, 0);
}

.main-title{
    text-align: left;
    
}

.header{
    display: flex;
}
.block-left{
    float: left;
    margin-left: 0%;
    width: 45%;
}

.photo{
    text-align: center;
    width: 220px;
    height: 200px;
}

.photo_in{
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 50%;
    height: 100%;
}

.img{
    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
 
.block-right{
    width: 50%;
    height: 150px;
    float: right;
    padding: 30px;
}

.cast{
    text-align: left;
}

.list{
    margin-left: auto;
}

a{
    text-decoration: none; 
    color: rgb(0, 255, 26);
}

li a{
    list-style-type: none;
    color: rgb(255, 255, 255);
}

li a:hover{
    color: cornflowerblue;
}

.contact{
    
}